In [2]:
import numpy as np
import pandas as pd
from thefuzz import fuzz

In [3]:
names = pd.read_csv('./base_names.csv')
variations = pd.read_csv('./name_variations.csv')

In [5]:
variations

          Variation Matches_With_Base_Name
0      Thomas  King            Thomas King
1        ThomasKing            Thomas King
2      Maria Garcia           Maria Garcia
3         MaryLewis             Mary Lewis
4          Nancy W.           Nancy Wright
..              ...                    ...
95  Jennifer- Brown         Jennifer Brown
96    Daniel- Scott           Daniel Scott
97         David M.         David Martinez
98      Paul Allen.             Paul Allen
99      Paul  Allen             Paul Allen

[100 rows x 2 columns]

In [8]:
real_names = names['Base_Name'].to_list()
varied_names = variations['Variation'].to_list()
matches = []

In [9]:
for v in varied_names:
    current = -1e5
    match = None
    for r in real_names:
        newCurrent = max(current, fuzz.ratio(v, r))
        if newCurrent!=current:
            match = r
            current = newCurrent
    matches.append(match)

In [10]:
matches

['Thomas King',
 'Thomas King',
 'Maria Garcia',
 'Mary Lewis',
 'Nancy Wright',
 'Daniel Scott',
 'John Smith',
 'Linda Johnson',
 'Nancy Wright',
 'William Davis',
 'Susan Clark',
 'Susan Clark',
 'Jennifer Brown',
 "Michael O'Connor",
 'James Rodriguez',
 'Elizabeth Wilson',
 'Sandra Hill',
 'Thomas King',
 'Christopher Green',
 'William Davis',
 'Linda Johnson',
 'John Smith',
 'Nancy Wright',
 'Robert Lee',
 'Christopher Green',
 'Thomas King',
 'Robert Lee',
 'Karen Young',
 'David Martinez',
 'Nancy Wright',
 'Elizabeth Wilson',
 'Maria Garcia',
 'Robert Lee',
 'Nancy Wright',
 'Maria Garcia',
 'Sandra Hill',
 'Mary Lewis',
 'Jessica Adams',
 'William Davis',
 'Maria Garcia',
 'Jennifer Brown',
 'Jennifer Brown',
 'Mary Lewis',
 'Susan Clark',
 "Michael O'Connor",
 'Susan Clark',
 'Sandra Hill',
 "Michael O'Connor",
 'Christopher Green',
 'Daniel Scott',
 'John Smith',
 'Jessica Adams',
 'Mary Lewis',
 'Elizabeth Wilson',
 'Sandra Hill',
 'Linda Johnson',
 'Jessica Adams',
 'Daniel Scott',
 'Paul Allen',
 'Paul Allen',
 'Susan Clark',
 'James Rodriguez',
 'Thomas King',
 'Linda Johnson',
 'Elizabeth Wilson',
 'Karen Young',
 "Michael O'Connor",
 'Linda Johnson',
 'Maria Garcia',
 'Sandra Hill',
 'Jessica Adams',
 'Mary Lewis',
 'Christopher Green',
 'James Rodriguez',
 'Christopher Green',
 'William Davis',
 'James Rodriguez',
 'Robert Lee',
 'Robert Lee',
 'Karen Young',
 'Elizabeth Wilson',
 'David Martinez',
 'Daniel Scott',
 'David Martinez',
 'James Rodriguez',
 'Karen Young',
 'William Davis',
 'John Smith',
 'John Smith',
 'David Martinez',
 'Susan Clark',
 'Jessica Adams',
 "Michael O'Connor",
 'Paul Allen',
 'Jennifer Brown',
 'Jennifer Brown',
 'Daniel Scott',
 'David Martinez',
 'Paul Allen',
 'Paul Allen']

In [11]:
variations['matches'] = matches

In [12]:
variations

          Variation Matches_With_Base_Name         matches
0      Thomas  King            Thomas King     Thomas King
1        ThomasKing            Thomas King     Thomas King
2      Maria Garcia           Maria Garcia    Maria Garcia
3         MaryLewis             Mary Lewis      Mary Lewis
4          Nancy W.           Nancy Wright    Nancy Wright
..              ...                    ...             ...
95  Jennifer- Brown         Jennifer Brown  Jennifer Brown
96    Daniel- Scott           Daniel Scott    Daniel Scott
97         David M.         David Martinez  David Martinez
98      Paul Allen.             Paul Allen      Paul Allen
99      Paul  Allen             Paul Allen      Paul Allen

[100 rows x 3 columns]

In [15]:
variations.loc[variations['Matches_With_Base_Name'] != matches]

      Variation Matches_With_Base_Name      matches
90  Young Karen            Karen Young  Susan Clark

In [18]:
fuzz.ratio('Young Karen', 'Karen Young')

45

In [19]:
fuzz.ratio('Young Karen', 'Susan Clark')

45